
 <mat-toolbar>
  <button (click)='condition= !condition' mat-raised-button> {{this.signin|lowercase}}</button><app-signinform class="signin" *appSignin='condition'></app-signinform>
 </mat-toolbar>
 <body class="full container-fluid">
 <mat-grid-tile-header>
     <h1 class="banner">Welcome to Treehouse, Start Building. </h1>
 </mat-grid-tile-header>
  <mat-grid-list cols="2" rowHeight="20em" class="signup">
    <mat-grid-tile-header >
   
    <h3>signup</h3>
      <form novalidate [formGroup]="form">
          <mat-form-field>
            <input matInput formControlName='Username' name='Username' placeholder='Username'>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName='Email' name='Email' placeholder='youcandoit@gmail.com'>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName='Password' name='Password' placeholder='Password'>
          </mat-form-field>
          <label>Are you over 18?</label>
          <mat-radio-group formControlName="Over18" name="Over18">
            <mat-radio-button value="Yes">Yes</mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
          <mat-card-actions>
            <button mat-button md-button>Join</button>
          </mat-card-actions>
        </form>
    </mat-grid-tile-header>
  </mat-grid-list>
</body>
 

