.user{
    margin: 0 auto;
    width: 35em;
   
}

.back-card{
    font-family: 'Josefin Slab', serif;
    background-color: #81C784;
    margin: 0 auto;
    transform:translateY(75%) ;
    opacity: ;
   
}

