
mat-toolbar{
    background-color:transparent;
    margin:0 auto;
    border-bottom: 1px;
    border-bottom-color: black;
  
    
}

a{
  font-size: 28px;
  font-family: 'Josefin Slab', serif;
    margin-left:1em;
    color: #4E342E;
    float: left;;
  }

a:hover{
  padding-bottom: .3em;
}

  .input-box{
    float: right;
    text-align: right;
  }

  p{
    font-family: 'Josefin Slab', serif;
    background-color: transparent;
    font-size: 2em;
    margin: 0;
    color:#4E342E;
  }